<div class="vertical layout wrap" style="margin-bottom: 20px; margin-left: 50px; position:relative">

    <paper-toast id="createAppError" [text]="error"></paper-toast>
    <paper-toast id="getAppsError" [text]="appsError"></paper-toast>
    <paper-toast id="appChangeError" [text]="appChangeError"></paper-toast>
    <paper-toast id="removeAppError" [text]="toastErrorContent"></paper-toast>

    <h3 class="start">New Application</h3>
    <paper-material elevation="5" animated style="max-width: 700px">

        <div style="margin: 30px;">

            <paper-input label="Name"
                         ngDefaultControl
                         [(ngModel)]="newApp.name">
            </paper-input>

            <paper-input label="baseUrl"
                         ngDefaultControl
                         [(ngModel)]="newApp.baseUrl">
            </paper-input>

            <paper-dropdown-menu label="State">
                <paper-listbox id="selected-state" class="dropdown-content"
                               style="background-color: #323a3a"
                               selected="0">
                    <paper-item>Active</paper-item>
                    <paper-item>Passive</paper-item>
                </paper-listbox>
            </paper-dropdown-menu>

            <div class="vertical center layout">
                <paper-button (click)="onCreateNewApplication()"
                              style="margin-bottom: 10px; width: 30%"
                              raised
                              class="primary">
                    <iron-icon icon="add-circle"></iron-icon>
                </paper-button>
            </div>
        </div>
    </paper-material>

    <h3 style="color: #bdced7; font-kerning: auto">Edit Applications</h3>

    <div class="horizontal layout">
        <paper-input ngDefaultControl
                     [(ngModel)]="filter"
                     label="search via application name"></paper-input>
        <paper-spinner [(active)]="loadingApps"></paper-spinner>
    </div>
    <paper-material elevation="5" style="max-width: 60%">

        <paper-material #item elevation="2" style="margin: 10px"
                        *ngFor="#app of apps | searchFilterByName:filter"
        >

            <div class="vertical layout wrap">
                <div (click)="item.show = true"
                     class="horizontal layout wrap fade">
                    <h3 style="color: #bdced7;">{{app.name}} </h3>
                </div>

                <div *ngIf="item.show" class="horizontal layout wrap">
                    <paper-icon-button icon="fullscreen-exit" (click)="item.show= !item.show">

                    </paper-icon-button>
                    <application [app]="app"
                                 [editable]="true"
                                 (changeError)="onAppChangeError($event)"
                                 (changed)="onAppChanged($event)"
                    ></application>
                </div>
            </div>
        </paper-material>
    </paper-material>

</div>


