<paper-dialog id="delete-self"
              entry-animation="scale-up-animation"
              exit-animation="fade-out-animation">
    <h2 style="color: #bdced7">Delete Service ?</h2>

    <div class="buttons">
        <paper-button dialog-dismiss class="secondary">Cancel</paper-button>
        <paper-button dialog-confirm raised class="primary" (click)="onRemoveSelf()">Accept
        </paper-button>
    </div>

</paper-dialog>

<paper-material elevation="3">

    <div class="horizontal layout wrap">

        <div class="vertical layout" style="margin: 10px">

            <div *ngIf="!tempEditable">
                <span style="color: #bdced7">Path: </span>{{service.serviceUrl | slashIfMissing}}
            </div>

            <div *ngIf="tempEditable">
                <div class="horizontal layout wrap">
                    <paper-input label="Service Url"
                                 ngDefaultControl
                                 [(ngModel)]="service.serviceUrl">
                    </paper-input>
                </div>


            </div>

            <div *ngIf="!tempEditable"><span style="color: #bdced7">Nested: </span>
                {{service.nested}}
            </div>

            <div *ngIf="tempEditable">
                <paper-checkbox id="nested" [checked]="service.nested" (change)="nestedChanged()">Nested</paper-checkbox>
            </div>

            <div *ngIf="!tempEditable"><span style="color: #bdced7">Balance Strategy: </span>{{service.balanceStrategy}}
            </div>

            <div *ngIf="tempEditable">
                <paper-dropdown-menu label="Balance Strategy">
                    <paper-listbox id="balance-strategy"
                                   class="dropdown-content"
                                   style="background-color: #323a3a"
                                   (iron-select)="balanceStrategyChanged()"
                                   [selected]="bsSelectedIndex">
                        <paper-item>Round-robin</paper-item>
                        <paper-item>Source-hashing</paper-item>
                    </paper-listbox>
                </paper-dropdown-menu>

            </div>
        </div>

        <div *ngIf="editable" class="horizontal layout wrap">

            <div *ngIf="tempEditable">
                <paper-icon-button icon="done-all" title="Done editing"
                                   role="button" (click)="editingFinished()">
                </paper-icon-button>

                <paper-icon-button icon="clear" title="Cancel editing"
                                   role="button" (click)="tempEditable = !tempEditable">
                </paper-icon-button>

            </div>

            <div *ngIf="!tempEditable">
                <paper-icon-button icon="create" title="Edit Service"
                                   role="button" (click)="tempEditable = !tempEditable">
                </paper-icon-button>

                <paper-icon-button icon="delete" title="Delete Service"
                                   role="button" (click)="showRemoveSelfDialog()">
                </paper-icon-button>

            </div>


        </div>

    </div>

    <div *ngIf="tempEditable" class="vertical layout wrap" style="margin: 10px">

        <h3>New Endpoint</h3>

        <paper-input label="Endpoint Host"
                     ngDefaultControl
                     [(ngModel)]="newEndpoint.host">
        </paper-input>

        <paper-input auto-validate
                     pattern="[0-9]*"
                     errorMessage="Only numeric values allowed"
                     preventInvalidInput
                     label="Endpoint Port"
                     ngDefaultControl
                     [(ngModel)]="newEndpoint.port">
        </paper-input>

        <div class="vertical center layout">
            <paper-button (click)="onCreateNewEndpoint(app.id, service)"
                          style="margin-bottom: 10px; width: 30%"
                          raised
                          class="primary">
                <iron-icon icon="add-circle"></iron-icon>
            </paper-button>
        </div>
    </div>

    <!--Endpoints-->

    <div style="margin-bottom: 20px; margin-left: 10px;">

        <h4 *ngIf="service.realEndpoints != null && service.realEndpoints.length > 0"
            style="color: #bdced7;">Endpoints</h4>
        <p></p>

        <ul>

            <li *ngFor="#endpoint of service.realEndpoints">

                <paper-dialog id="delete-endpoint"
                              entry-animation="scale-up-animation"
                              exit-animation="fade-out-animation">

                    <h2 style="color: #bdced7">Delete Endpoint ?</h2>

                    <div class="buttons">
                        <paper-button dialog-dismiss class="secondary">Cancel</paper-button>
                        <paper-button dialog-confirm raised class="primary"
                                      (click)="onRemoveEndpoint(endpoint.id)">Accept
                        </paper-button>
                    </div>
                </paper-dialog>


                <div class="horizontal layout wrap">

                    <div class="vertical layout wrap" style="margin: 10px 10px 30px">
                        <div><span style="color: #bdced7;">Address:</span>
                            {{endpoint.host}}:{{endpoint.port}}
                        </div>
                        <div class="capitalize"><span style="color: #bdced7;">Scheme:</span>
                            {{endpoint.scheme}}
                        </div>
                        <div class="capitalize"><span style="color: #bdced7;">State:</span>
                            {{endpoint.state}}
                        </div>

                        <div *ngIf="editable && service.editable">
                            <paper-dropdown-menu label="State">
                                <paper-listbox id="selected-state"
                                               class="dropdown-content"
                                               style="background-color: #323a3a"
                                               [selected]="selected">
                                    <paper-item>Active</paper-item>
                                    <paper-item>Passive</paper-item>
                                </paper-listbox>
                            </paper-dropdown-menu>

                            <paper-icon-button icon="save" [disabled]="!stateModified"
                                               (click)="saveState()">
                            </paper-icon-button>

                        </div>
                    </div>
                    <div *ngIf="editable" class="horizontal layout">
                        <paper-icon-button icon="delete" title="Delete Endpoint"
                                           role="button" (click)="showRemoveEndpointDialog()">
                        </paper-icon-button>
                    </div>
                </div>
                <p></p>
            </li>
        </ul>
    </div>
</paper-material>